BasedOnStyle: Mozilla

# Indent 4 spaces at a time.
IndentWidth: 4

# Use 4 space negative offset for access modifiers
AccessModifierOffset: -4

Cpp11BracedListStyle: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None